:root {
    --background-color: #202C39;
    --font-color: #B8B08D;
    --secondary-color: #F2D492;
    --third-color: #F29559;
    --third-text-color: #fc8130;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    text-align: center;
}

/* === Barre de navigation === */
header {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--font-color);
}

.logo-container img {
    height: 70px;
}

header h2 {
    border-radius: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    font-style: oblique;
    margin: 1em 2em 1em 0;
}

.topbar ul {
    display: flex;
    padding: 0;
    margin: 0 20px 0 0;
    list-style: none;
}

.topbar ul li {
    margin-right: 20px;
    border: 3px solid var(--font-color);
    transition: border-color 0.25s;
}

.topbar ul li a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 1em;
    text-align: center;
}

.topbar ul li:hover {
    border-color: var(--background-color);
}

/* === Eléments généraux === */
h1 {
    background-color: var(--third-color);
    color: var(--background-color);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    padding: 15px;
    border-radius: 10px;
    width: 60%;
    margin: 1em auto 1em auto;
}

.searchForm {
    padding-bottom: 3%;
}

.content {
    margin: 2em 0 1em 0;
    padding-top: 4em;
}

div div,
section label,
section h2 {
    color: var(--third-text-color);
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    transition: border-radius 0.3s;
}

input:hover {
    border-radius: 50px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid var(--third-color);
    color: var(--third-text-color);
}

#release_date,
#overview {
    color: var(--third-text-color);
}
#ja {
    margin: 1em 10% 0 10%;
}

/* === Index === */
.result {
    margin-top: 1em;
}

/* === Détails === */
.movie {
    padding: 0.2em;
    text-align: center;
    cursor: pointer;
}

.preview_poster {
    width: 150px;
    height: auto;
}

.poster {
    width: 300px;
    height: auto;
}

#addFavoriteButton:active,
#watchlistButton:active {
    background-color: #439744;
}

/* === Timesetter === */
.timeSetterForm input {
    margin-top: 1em;
}