:root {
    --background-color: #202C39;
    --font-color: #B8B08D;
    --secondary-color: #F2D492;
    --third-color: #F29559;
    --third-text-color: #fc8130;
    --movie-item-color: #011b36;
    --button-color: #f8edd0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    text-align: center;
}

/* =========================== */
/* === Barre de navigation === */
/* =========================== */

header {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--font-color);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: 5px var(--movie-item-color) solid;
}

.logo-container img {
    margin-left: 2.5em;
    height: 75px;
}

header h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    font-style: oblique;
    margin: 1em 2em 1em 0;
}

.topbar ul {
    display: flex;
    padding: 0;
    margin: 0 20px 0 0;
    list-style: none;
}

.topbar ul li, .principal_title {
    margin-right: 20px;
    border: 3px solid var(--font-color);
    transition: border-color 0.25s;
}
.topbar ul li {
    border-radius: 10px;
    background-color:var(--button-color);
}

.topbar ul li a, .principal_title a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px 25px;
    background-color: transparent;
    font-size: 1em;
    text-align: center;
}

.topbar ul li:hover, .principal_title:hover {
    border-color: var(--background-color);
}

/* ========================= */
/* === Eléments généraux === */
/* ========================= */

h1 {
    background-color: var(--third-color);
    color: var(--background-color);
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    border-radius: 10px;
    width: 60%;
    margin: 1em auto 1em auto;
}

.searchForm {
    padding-bottom: 3%;
}

.content {
    margin: 2em 0 2em 0;
    padding-top: 5em;
}

div div,
section label,
section h2 {
    color: var(--third-text-color);
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    transition: border-radius 0.3s;
}

input:hover {
    border-radius: 20px;
}

button, select{
    background-color: var(--button-color);
    border-style: double;
    padding: 5px 10px;
}

button {
    margin-right: 50px;
    margin-left: 50px;
}

a button {
    font-size: large;
    margin-top: 2%;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 2px solid var(--third-color);
    padding: 1em;
    color: var(--third-text-color);
}
.movie-item {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--movie-item-color);
    border-style: solid;
    border-radius: 10px;
    padding: 25px;
    height: 350px;
}

/* =============== */
/* === Détails === */
/* =============== */

.detail {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--movie-item-color);
    border-style: solid;
    border-radius: 10px;
    padding: 25px;
}

.movie {
    padding: 0.3em;
    text-align: center;
    cursor: pointer;
}

.preview_poster {
    width: 200px;
    height: auto;
}

.poster {
    width: 300px;
    height: auto;
}

#summary {
    margin: 1em 10% 1.5em 10%;
}

#date {
    margin-top: 10px;
    font-size: x-large;
}

.detail img {
    border-style: solid;
    border-width: 5px;
    border-color: #4A5E75;
}

#addFavoriteButton:active,
#watchlistButton:active {
    background-color: var(--third-text-color);
}

/* ================== */
/* === Timesetter === */
/* ================== */

.timeSetterForm input {
    margin-top: 1em;
}