body { 
    background-color: rgb(81, 81, 81);
    font-family: Arial, sans-serif; 
    text-align: center; 
}

.cbouton{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-color: purple;
    border-width: 0.2em;
    border-style: solid;
    margin-top: -3em;
    margin-left: -2em;
    margin-right: -2em;
    background: black;
}
.bouton{
    box-shadow: 0 200px 100px -100px white inset; 
    transition: box-shadow 0.25s;
    border: 0;
    line-height: 3em;
    font-size: 1.3rem;
    margin-bottom: -0.1em;
    text-align: center;
    color: black;
}
.bouton:hover {
    box-shadow: 0 200px 100px -100px purple inset;
}

.bouton:active{
    background-color: blueviolet;
}

#debut{
    padding-top: 2%
}
#op{
    position: relative;
    top: 0.5em;
    right:45%;
}


h1{
    background-color: beige;
    margin-left: 5em;
    margin-right: 5em;
}
input { 
    width: 50%; 
    padding: 10px; 
    margin-bottom: 20px; 
}
.movie-list { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}
.movie-item { 
    margin: 1px; 
    text-align: center; 
    cursor: pointer; 
}
script { 
    width: 150px; 
    height: auto; 
}
:root {
    --background-color : #202C39;
    --main-color : #283845;
    --font-color : #B8B08D;
    --secondary-color : #F2D492;
    --third-color : #F29559;
}

body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif; /*Police d'écriture*/
    text-align: center; /*J'aligne le contenu de la page au centre*/
    padding: 20px; /*Je pose une marge autour de la page*/
}

h1 {
    padding: 0% 0%;
    background-color: var(--secondary-color);
}

input { /*Barre de recherche*/
    width: 80%; /*Je met la longueur de la barre de recherche (80% de la page afin que ca soit responsive)*/
    padding: 10px; /*Je grossi la taille de la barre de recherche*/
    margin-bottom: 20px; /*La marge du bottom*/
}
.movie-list { /*Le conteneur des résultats de recherche*/
    display: flex; /*Affichage des élements en liste*/
    flex-wrap: wrap; /*Adapte l'affichage de la liste selon la taille de l'écran*/
    justify-content: center; /*Centre par défaut les élements sur la page*/
    border:ridge 2px var(--third-color);
    border-style: solid;
}
.movie-item { /*Les résultats de recherche*/
    margin: 10px; /*L'espace entre tous les résultats*/
    text-align: center; /*Centrer le nom du film sous l'image*/
    cursor: pointer; /*Montre un curseur en mode pointer*/
}
.preview_poster { /*Les affiches des résultats de recherche*/
    width: 150px; /*La longueur de l'affiche*/
    height: auto; /*La hauteur de l'affiche en gardant les proportions*/
}
.poster { /*L'affiche d'un résultat dans details.html*/
    width: 300px; /*Affiche plus grande*/
    height: auto;
}
