:root { /* Stockage de Variable */
    --background-color : #202C39;
    --main-color : #283845;
    --font-color : #B8B08D;
    --secondary-color : #F2D492;
    --third-color : #F29559; 
    --third-text-color : #fc8130;
}

body {  /* Les paramétres universelles de la/les page(s) */
    background-color: var(--background-color); /* Définit la couleurs de fond */
    font-family: Arial, sans-serif; /* Définit la police de texte */
    text-align: center; /* Met le texte au centre */
    padding: 20px; /*Je pose une marge autour de la page*/
}

#accueil{/* Comprend le h1 + le carré de recherche de la page d'accueil */
    padding-top: 5em;/*Laisse de l'espace entre l'interface supérieur et les élements d'accueil*/
    h1 {/* Titre principal */
        background-color: var(--third-text-color);
    }
    p {/* Paragraphe */
        color: var(--third-text-color);
    }
}
#debut{/* Comprend le h1 + le carré de recherche des pages de recherches */
    h1{ /* Le titre principal */
        background-color: var(--secondary-color);
        margin-left: 5em; /* Met une distance entre la limite de page et le titre */
        margin-right: 5em;
    } 
    padding-top: 2%; /* Laisse de l'espace entre les boutons du dessus... */
    padding-bottom: 3%; /* ...et les résultats du dessous */
}

.cbouton{ /* Le contenant du bouton */
    display:grid; /* L'emplacement des boutons est basé sur une grille */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* 1fr = 1/len(grid-template-columns) */
    border-color: var(--third-color); /* Couleur de la bordure */
    border-width: 0.2em; /* Graisseur de la bordure */
    border-bottom-style: solid; /* Je mets la bordure en ligne droite */
    margin-top: -3em; /* Je fais en sorte que la boite sorte un peu de la page HTML */
    margin-left: -2em;
    margin-right: -2em;
    background: var(--font-color); /* je définis la couleur du background avec la DA du site */
}
.bouton{ /* Le bouton ( de base ) */
    box-shadow: 0 200px 100px -100px white inset; /* Utilise le systéme de shadow pour faire un semblant d'animation */
    transition: box-shadow 0.25s; /* puis en fais une transistion */
    padding-left: 1em;
    padding-right: 1em;
    border: 0; /* Pas de bordure */
    line-height: 3em; /* Taille d'écriture */
    margin-bottom: -0.1em; /* Distance de sécurité */
    color: black; /* Met le texte en noir */
}
.bouton:hover { /* Quand le bouton est survolé */
    box-shadow: 0 200px 100px -100px var(--third-color) inset; /* Utilise la ligne initiant la transition pour mettre une autre couleur */
}

.bouton:active{ /* Quand le bouton est appuyé */
    background-color: var(--third-text-color);
}


#logo{ /*Logo*/
    position: relative; /*Permet de facilement mettre le logo*/
    top: -1em; /*Le placement de base n'étant pas bon, on le recule*/
    right:47%; /*Le placement des objets est central de base, on le met donc à l'extrémité gauche*/
}

input { /*Barre de recherche*/
    width: 80%; /*Je met la longueur de la barre de recherche (80% de la page afin que ca soit responsive)*/
    padding: 10px; /*Je grossi la taille de la barre de recherche*/
    margin-bottom: 20px; /*La marge du bottom*/
}
.movie-list { /*Le conteneur des résultats de recherche*/
    display: flex; /*Affichage des élements en liste*/
    flex-wrap: wrap; /*Adapte l'affichage de la liste selon la taille de l'écran*/
    justify-content: center; /*Centre par défaut les élements sur la page*/
    border:ridge 2px var(--third-color);
    border-style: solid;
    color:var(--third-text-color);
}
#release_date{/*Texte de résultats : la date de sortie*/
    color:var(--third-text-color);
}
#overview{
    color:var(--third-text-color);
}
.movie-item { /*Les résultats de recherche*/
    margin: 10px; /*L'espace entre tous les résultats*/
    text-align: center; /*Centrer le nom du film sous l'image*/
    cursor: pointer; /*Montre un curseur en mode pointer*/
}
.preview_poster { /*Les affiches des résultats de recherche*/
    width: 150px; /*La longueur de l'affiche*/
    height: auto; /*La hauteur de l'affiche en gardant les proportions*/
}

.poster { /*L'affiche d'un résultat dans details.html*/
    width: 300px; /*Affiche plus grande*/
    height: auto;
}