:root { /* Stockage de Variable */
    --background-color : #202C39;
    --main-color : #283845;
    --font-color : #B8B08D;
    --secondary-color : #F2D492;
    --third-color : #F29559; 
    --third-text-color : #fc8130;
}

body {  /* Les paramétres universels de la/les page(s) */
    margin: 0;
    padding: 0;
    background-color: var(--background-color); /* Définit la couleurs de fond */
    font-family: Arial, sans-serif; /* Définit la police de texte */
    text-align: center; /* Met le texte au centre */
    /*padding: 20px; Il ne faut pas poser de marges en tour de page mais uniquement sur les élements qui en ont besoin pour des besoins de responsive ^^*/
}

/*
=========================
     Barre de naviguation
=========================
*/

header {
    display: flex; /*Alignement responsive du logo et des liens pour l'adapter à toute taille d'écran*/
    justify-content: space-between; /*Espace entre le logo et la navigation */
    align-items: center; /*Les aligner au millieu de fenetre*/
    padding: 1em; /*Espace minimum entre eux*/
    background-color: var(--font-color); /*Fond de la topbar */
}

.logo-container img {
    height: 30px; /*Taille du logo */
}

nav ul {
    display: flex; /*Alignement responsive des liens*/
    padding: 0;
    margin: 0;
    list-style: none; /*Enlève les points moches des li */
}

nav ul li {
    margin-right: 20px; /*Espace entre chaque lien */
}

nav ul li {
    cursor: pointer; /*Mettre le curseur en pointeur pour montrer que c'est cliquable*/
    display: inline-block; /*Pour que le padding et les dimensions fonctionnent */
    padding: 10px 20px; /*Ecartement des items par rapport aux autres*/
    background-color: transparent; /*Couleur de fond de base*/
    font-size: 1em; /*Taille de police*/
    text-align: center; /*Mise du texte au centre*/
    border-radius: 5px; /*Bordures arrondies */
    box-shadow: 0 200px 100px -100px white inset; /*Ombre interne*/
    transition: box-shadow 0.25s, background-color 0.25s, color 0.25s; /*Transition pour l'ombre, fond et texte*/
}
nav ul li a{
    color: black; /*Couleur du texte*/
    text-decoration: none; /*Enlever le soulignage*/
}

nav ul li:hover {
    box-shadow: 0 200px 100px -100px var(--third-color) inset; /*Ombre interne avec une autre couleur*/
    background-color: var(--third-color); /*Fond coloré au survol*/
    color: white; /*Changer la couleur du texte*/
}

nav ul li:active {
    background-color: var(--third-text-color); /*Fond lors du clic*/
}

/*
=========================
     Page d'accueil
=========================
*/

h1 {
    background-color: var(--third-text-color);
}

.searchForm{/* Comprend le h1 + le carré de recherche des pages de recherches */
    h1{ /* Le titre principal */
        background-color: var(--secondary-color);
        margin-left: 5em; /* Met une distance entre la limite de page et le titre */
        margin-right: 5em;
    } 
    padding-top: 2%; /* Laisse de l'espace entre les boutons du dessus... */
    padding-bottom: 3%; /* ...et les résultats du dessous */
}

input { /*Barre de recherche*/
    width: 80%; /*Je met la longueur de la barre de recherche (80% de la page afin que ca soit responsive)*/
    padding: 10px; /*Je grossi la taille de la barre de recherche*/
    margin-bottom: 20px; /*La marge du bottom*/
}
.movie-list { /*Le conteneur des résultats de recherche*/
    display: flex; /*Affichage des élements en liste*/
    flex-wrap: wrap; /*Adapte l'affichage de la liste selon la taille de l'écran*/
    justify-content: center; /*Centre par défaut les élements sur la page*/
    border:ridge 2px var(--third-color);
    border-style: solid;
    color:var(--third-text-color);
}
#release_date{/*Texte de résultats : la date de sortie*/
    color:var(--third-text-color);
}
#overview{
    color:var(--third-text-color);
}

/*
=========================
     Details
=========================
*/

.movie-item { /*Les résultats de recherche*/
    margin: 10px; /*L'espace entre tous les résultats*/
    text-align: center; /*Centrer le nom du film sous l'image*/
    cursor: pointer; /*Montre un curseur en mode pointer*/
}
.preview_poster { /*Les affiches des résultats de recherche*/
    width: 150px; /*La longueur de l'affiche*/
    height: auto; /*La hauteur de l'affiche en gardant les proportions*/
}

.poster { /*L'affiche d'un résultat dans details.html*/
    width: 300px; /*Affiche plus grande*/
    height: auto;
}